/* The Modal (background) */
.verifone_summary_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 25; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.verifone_summary_modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
}

/* Add Animation */

/* The Close Button */
.verifone_summary_modal .close {
    color: #fefefe;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}

.verifone_summary_modal .close:hover,
.verifone_summary_modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.verifone_summary_modal .modal-header {
    padding: 5px 16px 2px;
    background-color: #999999;
    color: #fefefe;
}

.verifone_summary_modal .modal-header h2 {
    color: #fefefe;
}

.verifone_summary_modal .modal-body {
    padding: 2px 16px;
}

.verifone_summary_modal .modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
    color: #999999;
}

table.verifone_summary .summary-label {
    width: 20%
}

table.verifone_summary .summary-value, table.verifone_summary .summary-value p.note {
    width: 80%;
}

table.verifone_summary tr td{
    border-bottom: 1px dashed #999999;
}

.success {
    color: #080;
    font-weight: bold;
}

.info {
    color: #eb5e00;
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

.error {
    color: #D40707;
    font-weight: bold;
}