<div class="js-form-item form-item">
    <div class="{{ field.class }}">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-info pull-left fixed-width-xl"
                        id="configuration_form_verifone_generate_live_keys_btn"
                        name="refresh_verifone_keys_live"
                        data-url="{{ field.href }}" data-confirm_msg="{{ field.confirmMessage }}"
                        data-type="live">
                    <i class="icon-file-alt"></i> {{ field.generateLiveLabel }}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="help-block">
                    {{ field.generateLiveDesc }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-info pull-left fixed-width-xl"
                        id="configuration_form_verifone_generate_test_keys_btn"
                        name="refresh_verifone_keys_test"
                        data-url="{{ field.href }}" data-confirm_msg="{{ field.confirmMessage }}"
                        data-type="test">
                    <i class="icon-file-alt"></i> {{ field.generateTestLabel }}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="help-block">
                    {{ field.generateTestDesc }}
                </p>
            </div>
        </div>
    </div>
</div>