<div class="col-lg-9">

    <div id="verifone-summary-modal" class="verifone_summary_modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>{{ field.modalHeader }}</h2>
            </div>
            <div class="modal-body">

                <table class="verifone_summary" cellspacing="0">
                    <tbody>
                    {% for key, configuration in field.configurationData %}
                        <tr>
                            <td class="summary-label">{{ configuration.label }}</td>
                            <td class="summary-value">
                                <pre id="verifone-summary-{{ key }}" class="strong">{{ configuration.value }}</pre>
                                {% if configuration.has_desc %}
                                    <p class="note">

                                        {% if configuration.has_desc_class %}
                                            <span class="{{ configuration.desc_class }}">{{ configuration.desc }}</span>
                                        {% else %}
                                            <span>{{ configuration.desc }}</span>
                                        {% endif %}

                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <h3>&nbsp</h3>
            </div>
        </div>

    </div>

    <a href="#" id="verifone-summary-modal-trigger" name="verifone_display_summary" class="toolbar_btn pull-left">
        {{ field.modalButton }}
    </a>
</div>